@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Kaushan+Script&family=Montserrat&display=swap');

/* GENERAL */
html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba(0, 0, 0, 0.1);
    color: skyblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background: rgba(0,0,0,0.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

/* HEADER */
#home-header {
    background: url("../images/lightning-bg.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: scroll !important;
}

.navbar-nav {
    font-size: 1.25rem;
}

.portfolio-preview-img {
    width: 100%;
    border-radius: .25rem;
}

/* HOOK */
/*
#lightning {
  height:600px;
  position:absolute;
  top:3%;
  left:60%;
}
*/

/* ABOUT */

/* TEXT COLORS */
.text-sky-blue {
    color: skyblue !important;
}

a.text-sky-blue:hover {
    color: #45B4DF !important;
}

.font-strokes {
    font-family: 'Kaushan Script', cursive;
}

.font-heading {
    font-family: 'Montserrat', sans-serif;
}

.text-yellow {
    color: #E3D53A !important;
}
a.text-yellow:hover {
    color: #FFD324 !important;
}

.text-shadow-border {
    text-shadow: 0 0 2px #000000, 0 0 2px #000000;
}

.text-purple-to-blue {
    background: linear-gradient(to right, #9708CC 0%, #14BDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-yellow-to-blue {
    background: linear-gradient(to right, #FFEA98 0%, #14BDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue-to-white {
    background: linear-gradient(to right, #14BDFF 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue-to-blue {
    background: linear-gradient(to right, #14BDFF 0%, #36C6FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.text-blue-to-blue:hover {
    background: linear-gradient(to right, #00A9EC 0%, #00AFF4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text-yellow-to-yellow {
    background: linear-gradient(to right, #E3D53A 0%, #FFEA98 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.text-yellow-to-yellow:hover {
    background: linear-gradient(to right, #C4B61C 0%, #FFD324 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BACKGROUND COLORS */
.bg-purple-gradient {
    background-image: linear-gradient(to bottom right, #3B2667, #BC78EC 100%);
}

.bg-purple {
    background-color: #390099 !important;
}

.bg-raspberry {
    background-color: #9e0059 !important;
}

.bg-raspberry-gradient {
    background-image: linear-gradient(to bottom right, #9e0059, #88004D 100%);
}

.bg-pink {
    background-color: #ff0054 !important;
}

.bg-sky {
    background-color: #aed0e9 !important;
}

.bg-navier {
    background-color: #003049 !important;
}

.bg-navier-gradient {
    background-image: linear-gradient(to bottom right, #003049, #005786 100%);
}
